<div class="header">
  <div class="container">
    <%= link_to t('admini.header.title'), '#', class: 'header-title' %>
    <%= link_to t('admini.header.menu'), '#' %>
    <div class="right">
      <%= link_to t('admini.header.logout'), '#' %>
    </div>
  </div>
</div>
